@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
    --overlay: 255, 255, 255;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --overlay: 5, 10, 22;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.menu-backdrop {
  @apply bg-popover fixed z-10 backdrop-blur-md w-full top-0 left-0;
}

.menu-backdrop {
  background-color: hsl(var(--popover) / 0.7);
}

.menu-container {
  @apply z-20 flex items-center justify-between w-full;
}

.feed {
  @apply flex flex-col items-center justify-start;
}

.feed__content {
  @apply grid w-full;
  --sidebar-width: 22rem;
  --gutter: 1.5rem;
  grid-gap: var(--gutter);
  grid-auto-flow: column;
  grid-template-columns: minmax(0, calc(100% - var(--sidebar-width) - var(--gutter))) 0 auto 0 minmax(0, calc(100% - var(--sidebar-width) - var(--gutter)));
}

.user-details {
  width: var(--sidebar-width);
}

.feed__content_title {
  @apply font-bold text-3xl text-center;
}

.feed__content_subtitle {
  @apply font-normal mt-2.5;
}


.search {
  @apply w-full;
}

.search__container {
  @apply relative block transition-opacity duration-200;
}

.search__form {
  @apply flex flex-col items-stretch justify-center;
}

.input {
  @apply rounded-full flex items-center justify-start m-0 p-0 border transition duration-200 cursor-text px-4 bg-input;
}

.input__icon {
  @apply inline-block flex-none m-0;
}

.search__form_icon {
  @apply text-muted-foreground transition duration-200;
}

.icon {
  @apply inline-block align-top w-auto h-full;
}

.input__field {
  @apply flex-1 w-full py-2 font-normal bg-transparent border-none outline-none appearance-none min-w-0 text-sm rounded-none resize-none text-left;
}

.input__field:focus-visible {
  @apply  !ring-0 !ring-offset-0 !ring-offset-transparent !ring-secondary !ring-opacity-100;
}

.feed__content_featured {
  @apply block w-full;
}

.feed__popular {
  @apply hidden col-span-1 space-y-6 md:block;
  width: var(--sidebar-width);
}

.article__container {
  @apply p-0 md:p-4
}

.article__header {
  @apply space-y-8;
}

.article__title {
  @apply font-bold text-3xl md:text-4xl md:leading-snug
}

.article__meta {
  @apply flex items-center gap-2 md:gap-3;
}

.article__date {
  @apply text-xs md:text-sm text-muted-foreground;
}

.article__content {
  @apply text-lg text-foreground my-4 md:my-8;
}

.article__tags {
  @apply mb-2 md:mb-3;
}

.article__content img {
  @apply w-full h-auto;
}

.article__content .article__cover-image {
  @apply w-full h-auto mb-8 px-4;
}

.article__content .article__cover-image img {
  @apply rounded-md;
}

.container-5xl {
  @apply max-w-5xl mx-auto px-4;
}

.container-7xl {
  @apply max-w-7xl mx-auto px-4;
}


.container {
  @apply mx-auto px-4;
  max-width: calc(100% - 1rem);
}

.Layout {
  @apply grid;
  --Layout-sidebar-width: 18rem;
  --Layout-gutter: 1.5rem;
  grid-gap: var(--Layout-gutter);
  grid-auto-flow: column;
  grid-template-columns: auto 0 minmax(0, calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter)));
}

@media (min-width: 1012px) {
  .Layout {
    --Layout-sidebar-width: 296px;
  }
}

@media (min-width: 768px) {
  /* .Layout {
    --Layout-sidebar-width: 256px;
  } */

  .feed__content {
    --sidebar-width: 16rem;
    --gutter: 1.5rem;
  }
}

@media (min-width: 544px) {
  /* .Layout {
    --Layout-sidebar-width: 220px;
    --Layout-gutter: 0;
  } */

  .feed__content {
    --gutter: 0;
  }

  .post__title {
    -webkit-line-clamp: 2;
  }
}

@media (min-width: 1012px) {
  .Layout {
    --Layout-gutter: 24px;

  }

  .feed__content {
    --sidebar-width: 18rem;
    --gutter: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .feed__content {
    --sidebar-width: 20rem;
  }
}

@media (max-width: 767.98px) {
  .Layout.Layout--flowRow-until-md {
    grid-auto-flow: row;
    grid-template-columns: 1fr !important;
  }

  .feed__content-md {
    grid-auto-flow: row;
    grid-template-columns: 1fr !important;
  }
}

.Layout .Layout-sidebar {
  grid-column: 1;
}


.feed__list_item {
  @apply grid items-start;
  grid-gap: 1.5rem;
}

.feed__list_loadmore {
  @apply flex items-center justify-center w-full py-4;
}

.popular__post-details span::after {
  content: "路";
  @apply text-muted-foreground inline-block px-1;
}

.popular__post-details span:last-child::after {
  content: "";
}

.feed__list {
  @apply row-span-2 md:col-span-2
}

.feed__popular-list {
  counter-reset: counter;
}

.feed__popular-list li {
  @apply relative pl-7;
  counter-increment: counter;
}

.feed__popular-list li::before {
  @apply absolute text-center py-1 px-2.5 text-2xl font-bold text-muted-foreground;
  content: counter(counter);
  left: -10px;
}

.markdown-body {
  @apply prose prose-sm sm:prose lg:prose-lg xl:prose-xl mx-auto text-foreground;
}


.markdown-body p {
  @apply mb-4 text-sm md:text-base text-foreground;
}

.markdown-body h1 {
  @apply text-3xl md:text-4xl font-bold my-4 text-foreground;
}

.markdown-body h2 {
  @apply text-2xl md:text-3xl font-bold my-4 pb-1.5 text-foreground;
}

.markdown-body h3 {
  @apply text-xl md:text-2xl font-bold my-4 pb-1.5 text-foreground;
}

.markdown-body h4 {
  @apply text-lg md:text-xl font-bold my-4 pb-1.5 text-foreground;
}

.markdown-body h5 {
  @apply text-base md:text-lg font-bold my-4 pb-1.5 text-foreground;
}

.markdown-body h6 {
  @apply text-base font-bold my-4 pb-1.5 text-foreground;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  @apply font-bold border-b-2 border-muted;
}

.markdown-body ul {
  @apply list-disc list-outside text-foreground text-base;
}

.markdown-body ol {
  @apply list-decimal ml-1.5 my-1 text-foreground text-base;
}

.markdown-body li {
  @apply mb-1;
}

.markdown-body ul li::marker {
  @apply text-muted-foreground !m-0 !pr-2;
}

.markdown-body li p {
  @apply inline;
}

.markdown-body a {
  @apply underline text-primary;
}

.markdown-body a:hover {
  @apply text-foreground;
}

.markdown-body blockquote {
  @apply border-l-4 border-primary pl-4 my-8;
}

.markdown-body blockquote p {
  @apply text-base;
}

.markdown-body pre {
  @apply !my-4 !rounded-sm !text-card-foreground p-0;
  background: hsl(220 12% 9.8%) !important;
}

.markdown-body pre pre {
  @apply !m-0
}

.markdown-body p pre, .markdown-body li pre,
.markdown-body h3 pre, .markdown-body h4 pre,
.markdown-body h5 pre, .markdown-body h6 pre {
  @apply !my-1 !rounded-sm !text-card-foreground !px-2.5 !py-0.5 w-fit inline-flex;
  background: hsl(220 12% 9.8%) !important;
}

.markdown-body pre code {
  background: hsl(220 12% 9.8%) !important;
} 

.markdown-body code {
  @apply py-1.5 px-1.5 !rounded-sm text-card-foreground;
  font-family: var(--font-geist-mono)
}

.markdown-body pre code {
  @apply py-0 px-0 !rounded-sm text-card-foreground;
}

.markdown-body pre code.lang-text {
  @apply py-1.5 px-1.5 !rounded-sm text-card-foreground;
  font-family: var(--font-geist-mono)
}

.markdown-body hr {
  @apply my-8 border-none border-t border-card;
}

.markdown-body table {
  @apply w-full my-8 border text-card-foreground rounded-lg text-base;
}

.markdown-body table th {
  @apply text-left px-4 py-2 border text-card-foreground;
}

.markdown-body table td {
  @apply px-4 py-2 border;
}

.markdown-body strong {
  @apply font-bold text-foreground;
}

.markdown-body em {
  @apply italic text-foreground;
}

.markdown-body del {
  @apply line-through text-foreground;
}

.markdown-body hr {
  @apply my-8 border-none border-t border-card;
}

.markdown-body img {
  @apply w-full h-auto;
}

.markdown-body .article__cover-image {
  @apply w-full h-auto mb-8 px-4;
}

.markdown-body .article__cover-image img {
  @apply rounded-md;
}

.markdown-body .article__cover-image figcaption {
  @apply text-center text-sm text-muted-foreground;
}

.markdown-body .article__cover-image figcaption a {
  @apply underline;
}

.markdown-body .article__cover-image figcaption a:hover {
  @apply text-foreground;
}

.markdown-body .article__cover-image figcaption p {
  @apply inline;
}

.markdown-body .article__cover-image figcaption p::after {
  content: "路";
  @apply text-muted-foreground inline-block px-1;
}

.markdown-body .article__cover-image figcaption p:last-child::after {
  content: "";
}

.markdown-body .article__cover-image figcaption p a {
  @apply underline;
}

.markdown-body .article__cover-image figcaption p a:hover {
  @apply text-foreground;
}

.markdown-body .article__cover-image figcaption p a::after {
  content: "路";
  @apply text-muted-foreground inline-block px-1;
}

.markdown-body .article__cover-image figcaption p a:last-child::after {
  content: "";
}

.markdown-body .article__cover-image figcaption p a {
  @apply underline;
}

.markdown-body .article__cover-image figcaption p a:hover {
  @apply text-foreground;
}

.markdown-body .article__cover-image figcaption p a::after {
  content: "路";
  @apply text-muted-foreground inline-block px-1;
}

.markdown-body .article__cover-image figcaption p a:last-child::after {
  content: "";
}

.bg-badge {
  background-color: hsl(var(--primary-muted));
}

.feedpost__action-btn:hover {
  @apply text-primary;
}

.feedpost__action-btn:hover button {
  @apply text-primary;
  background-color: hsl(var(--primary-muted))
}

.post__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.post__title.custom {
  -webkit-line-clamp: 2;
}

@media (max-width: 544px) {
  .post__title {
    -webkit-line-clamp: 2;
  }
}

.post__subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.tab-shadow {
  pointer-events: none;
    top: 0;
    position: absolute;
    height: 100%;
    right: 0;
    transition: opacity .3s ease;
    width: 8%;
    background: linear-gradient(90deg, rgba(var(--overlay), 0) 0%, rgba(var(--overlay), 0.75) 25%, rgba(var(--overlay), 0.9) 50%, rgb(var(--overlay)) 75%);
    z-index: 1;
}

.bg-third {
  background-color: hsl(var(--third));
}

/* @media screen and (max-width: 1024px) {
  .details{
    min-height: calc(100vh - 44rem);
  }
} */