@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.menu-backdrop {
  @apply bg-background fixed z-10 backdrop-blur-md w-full top-0 left-0;
}

.menu-backdrop {
  background-color: hsl(var(--background) / 0.7);
}

.menu-container {
  @apply fixed z-20 flex items-center justify-between w-full;
}

.feed {
  @apply flex flex-col items-center justify-start;
}

.feed__content {
  @apply flex flex-col items-center justify-start;
}

.feed__content_title {
  @apply font-bold text-3xl text-center;
}

.feed__content_subtitle {
  @apply font-normal text-xl text-center mt-2.5;
}

.feed__content_search {
  @apply mt-5;
}

.search {
  @apply w-full;
}

.search__container {
  @apply relative block transition-opacity duration-200;
}

.search__form {
  @apply flex flex-col items-stretch justify-center;
}

.input {
  @apply rounded-3xl flex items-center justify-start m-0 p-0 border transition duration-200 cursor-text px-2;
}

.input__icon {
  @apply inline-block flex-none m-0;
}

.search__form_icon {
  @apply text-secondary transition duration-200;
}

.icon {
  @apply inline-block align-top w-auto h-full;
}

.input__field {
  @apply flex-1 w-full py-2 font-normal text-secondary-foreground bg-transparent border-none outline-none appearance-none min-w-0 text-sm rounded-none resize-none text-left;
}

.input__field:focus-visible {
  @apply  !ring-0 !ring-offset-0 !ring-offset-transparent !ring-secondary !ring-opacity-100;
}

.feed__content_featured {
  @apply block w-full mt-9;
}

.article__container {
  @apply  p-0 md:p-4
}

.article__header {
  @apply space-y-8;
}

.article__title {
  @apply font-bold text-3xl md:text-4xl !font-bold md:leading-snug
}

.article__meta {
  @apply flex items-center gap-2 md:gap-3;
}

.article__date {
  @apply text-xs md:text-sm text-muted-foreground;
}

.article__content {
  @apply text-lg text-foreground my-4 md:my-8;
}

.article__content img {
  @apply w-full h-auto;
}

/* .markdown-body{
  @apply ;
} */

.markdown-body p {
  @apply mb-4 text-sm md:text-base;
}

.markdown-body h1 {
  @apply text-3xl md:text-4xl font-bold my-8;
}

.markdown-body h2 {
  @apply text-2xl md:text-3xl font-bold my-8 pb-1.5;
}

.markdown-body h3 {
  @apply text-xl md:text-2xl font-bold my-8 pb-1.5;
}

.markdown-body h4 {
  @apply text-lg md:text-xl font-bold my-8 pb-1.5;
}

.markdown-body h5 {
  @apply text-base md:text-lg font-bold my-8 pb-1.5;
}

.markdown-body h6 {
  @apply text-base font-bold my-8 pb-1.5;
}

.markdown-body ul {
  @apply list-disc list-inside;
}

.markdown-body ol {
  @apply list-decimal ml-6 my-4;
}

.markdown-body li {
  @apply mb-2;
}

.markdown-body a {
  @apply underline;
}

.markdown-body a:hover {
  @apply text-foreground;
}

.markdown-body blockquote {
  @apply border-l-4 border-primary pl-4 my-8;
}

.markdown-body blockquote p {
  @apply text-base;
}

.markdown-body pre {
  @apply overflow-x-auto p-4 my-8 rounded-md bg-secondary text-secondary-foreground;
}

.markdown-body code {
  @apply py-1 px-2 rounded-sm bg-secondary text-secondary-foreground;
}

.container-5xl {
  @apply max-w-5xl mx-auto px-4;
}

.container-7xl {
  @apply max-w-7xl mx-auto px-4;
}


.container {
  @apply mx-auto px-4;
  max-width: calc(100% - 1rem);
}

.Layout {
  @apply grid;
  --Layout-sidebar-width: 18rem;
  --Layout-gutter: 1.5rem;
  grid-gap: var(--Layout-gutter);
  grid-auto-flow: column;
  grid-template-columns: auto 0 minmax(0, calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter)));
}

@media (min-width: 1012px){
  .Layout {
    --Layout-sidebar-width: 296px;
    }
}
@media (min-width: 768px)
{.Layout {
--Layout-sidebar-width: 256px;
}}
@media (min-width: 544px)
{.Layout {
--Layout-sidebar-width: 220px;
--Layout-gutter: 0;
}}
@media (min-width: 1012px)
{.Layout {
--Layout-gutter: 24px;
}}

@media (max-width: 767.98px)
{
  .Layout.Layout--flowRow-until-md {
grid-auto-flow: row;
grid-template-columns: 1fr !important;
}}

.Layout .Layout-sidebar {
  grid-column: 1;
}

.feed__list{
  @apply my-8;
}

.feed__list_item{
  @apply grid items-start md:grid-cols-3 auto-rows-max;
  /* grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); */
  /*grid-auto-rows: 1.25rem;*/
  grid-gap: 1.25rem;
}

.feed__list_loadmore{
  @apply flex items-center justify-center w-full py-4;
}